# Copyright 2020 Energinet DataHub A/S
#
# Licensed under the Apache License, Version 2.0 (the "License2");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: CD

on:
  push:
    branches:
      - main
      - renetnielsen/new-sub
    paths:
      - build/**
      - .github/workflows/cd.yml
  workflow_dispatch: {}

jobs:
  create_release:
    name: Create new release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Copy Terraform to release folder
        shell: bash
        run: |
          cp -fR ./build/** ./release 2>/dev/null || :

      - name: Copy Terraform to release folder
        shell: bash
        run: |
          cp -fR ./build ./release 2>/dev/null || :

      - name: Zip artifact
        uses: papeloto/action-zip@v1
        with:
          files: release/
          dest: drop.zip

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: drop.zip
          tag_name: ${{ github.ref }}