# Copyright 2020 Energinet DataHub A/S
#
# Licensed under the Apache License, Version 2.0 (the "License2");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: CD

on:
  push:
    branches:
      - main
      - renetnielsen/new-sub
    paths:
      - build/**
      - .github/workflows/cd.yml

jobs:
<<<<<<< HEAD
  infra_deploy_development_001:
    name: Deploy infrastructure to Development 001
    runs-on: ubuntu-latest
    environment:
      name: Development_001
    env: 
      TF_VAR_apim_publisher_email: ${{ secrets.AZURE_APIM_PUBLISHER_EMAIL }}
      TF_VAR_apimao_metering_point_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_metering_point_domain_name: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_NAME }}
      TF_VAR_apimao_charges_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_charges_domain_name: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_NAME }}
      TF_VAR_apimao_market_roles_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_market_roles_domain_name: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_NAME }}
      TF_VAR_apimao_timeseries_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_timeseries_domain_name: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_NAME }}
    steps:
      - name: Terraform CD
        uses: Energinet-DataHub/.github/.github/actions/terraform-apply@renetnielsen/terraform-apply-1.4.0
        with:
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
          ENVIRONMENT_INSTANCE: "001"
          ENVIRONMENT_SHORT: u
          TERRAFORM_BACKEND_FILE_PATH: ${{ env.TERRAFORM_BACKEND_FILE_PATH }}
          TERRAFORM_WORKING_DIR_PATH: ${{ env.TERRAFORM_WORKING_DIR_PATH }}
          TERRAFORM_STATE_RG_NAME: ${{ secrets.AZURE_TF_STATE_RG_NAME }}
          TERRAFORM_VERSION: ${{ env.TERRAFORM_VERSION }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SPN_ID: ${{ secrets.AZURE_SPN_ID }}
          AZURE_SPN_OBJECT_ID: ${{ secrets.AZURE_SPN_OBJECT_ID }}
          AZURE_SPN_SECRET: ${{ secrets.AZURE_SPN_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RG_NAME: ${{ secrets.AZURE_RG_NAME }}
  
  infra_deploy_test_001:
    name: Deploy infrastructure to Test 001
    needs: infra_deploy_development_001
    runs-on: ubuntu-latest
    environment:
      name: Test_001
    env: 
      TF_VAR_apim_publisher_email: ${{ secrets.AZURE_APIM_PUBLISHER_EMAIL }}
      TF_VAR_apimao_metering_point_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_metering_point_domain_name: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_NAME }}
      TF_VAR_apimao_charges_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_charges_domain_name: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_NAME }}
      TF_VAR_apimao_market_roles_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_market_roles_domain_name: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_NAME }}
      TF_VAR_apimao_timeseries_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_timeseries_domain_name: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_NAME }}
    steps:
      - name: Terraform CD
        uses: Energinet-DataHub/.github/.github/actions/terraform-apply@renetnielsen/terraform-apply-1.4.0
        with:
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
          ENVIRONMENT_INSTANCE: "001"
          ENVIRONMENT_SHORT: t
          TERRAFORM_BACKEND_FILE_PATH: ${{ env.TERRAFORM_BACKEND_FILE_PATH }}
          TERRAFORM_WORKING_DIR_PATH: ${{ env.TERRAFORM_WORKING_DIR_PATH }}
          TERRAFORM_STATE_RG_NAME: ${{ secrets.AZURE_TF_STATE_RG_NAME }}
          TERRAFORM_VERSION: ${{ env.TERRAFORM_VERSION }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SPN_ID: ${{ secrets.AZURE_SPN_ID }}
          AZURE_SPN_OBJECT_ID: ${{ secrets.AZURE_SPN_OBJECT_ID }}
          AZURE_SPN_SECRET: ${{ secrets.AZURE_SPN_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RG_NAME: ${{ secrets.AZURE_RG_NAME }}

  infra_deploy_preprod_001:
    name: Deploy infrastructure to Preproduction 001
    needs: infra_deploy_test_001
    runs-on: ubuntu-latest
    environment:
      name: Preproduction_001
    env: 
      TF_VAR_apim_publisher_email: ${{ secrets.AZURE_APIM_PUBLISHER_EMAIL }}
      TF_VAR_apimao_metering_point_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_metering_point_domain_name: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_NAME }}
      TF_VAR_apimao_charges_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_charges_domain_name: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_NAME }}
      TF_VAR_apimao_market_roles_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_market_roles_domain_name: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_NAME }}
      TF_VAR_apimao_timeseries_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_timeseries_domain_name: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_NAME }}
    steps:
      - name: Terraform CD
        uses: Energinet-DataHub/.github/.github/actions/terraform-apply@renetnielsen/terraform-apply-1.4.0
        with:
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
          ENVIRONMENT_INSTANCE: "001"
          ENVIRONMENT_SHORT: b
          TERRAFORM_BACKEND_FILE_PATH: ${{ env.TERRAFORM_BACKEND_FILE_PATH }}
          TERRAFORM_WORKING_DIR_PATH: ${{ env.TERRAFORM_WORKING_DIR_PATH }}
          TERRAFORM_STATE_RG_NAME: ${{ secrets.AZURE_TF_STATE_RG_NAME }}
          TERRAFORM_VERSION: ${{ env.TERRAFORM_VERSION }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SPN_ID: ${{ secrets.AZURE_SPN_ID }}
          AZURE_SPN_OBJECT_ID: ${{ secrets.AZURE_SPN_OBJECT_ID }}
          AZURE_SPN_SECRET: ${{ secrets.AZURE_SPN_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RG_NAME: ${{ secrets.AZURE_RG_NAME }}

  infra_deploy_preprod_002:
    name: Deploy infrastructure to Preproduction 002
    needs: infra_deploy_test_001
    runs-on: ubuntu-latest
    environment:
      name: Preproduction_002
    env: 
      TF_VAR_apim_publisher_email: ${{ secrets.AZURE_APIM_PUBLISHER_EMAIL }}
      TF_VAR_apimao_metering_point_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_metering_point_domain_name: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_NAME }}
      TF_VAR_apimao_charges_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_charges_domain_name: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_NAME }}
      TF_VAR_apimao_market_roles_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_market_roles_domain_name: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_NAME }}
      TF_VAR_apimao_timeseries_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_timeseries_domain_name: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_NAME }}
    steps:
      - name: Terraform CD
        uses: Energinet-DataHub/.github/.github/actions/terraform-apply@renetnielsen/terraform-apply-1.4.0
        with:
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
          ENVIRONMENT_INSTANCE: "001"
          ENVIRONMENT_SHORT: b
          TERRAFORM_BACKEND_FILE_PATH: ${{ env.TERRAFORM_BACKEND_FILE_PATH }}
          TERRAFORM_WORKING_DIR_PATH: ${{ env.TERRAFORM_WORKING_DIR_PATH }}
          TERRAFORM_STATE_RG_NAME: ${{ secrets.AZURE_TF_STATE_RG_NAME }}
          TERRAFORM_VERSION: ${{ env.TERRAFORM_VERSION }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SPN_ID: ${{ secrets.AZURE_SPN_ID }}
          AZURE_SPN_OBJECT_ID: ${{ secrets.AZURE_SPN_OBJECT_ID }}
          AZURE_SPN_SECRET: ${{ secrets.AZURE_SPN_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RG_NAME: ${{ secrets.AZURE_RG_NAME }}

  infra_deploy_production_001:
    name: Deploy infrastructure to Production
    needs: [infra_deploy_preprod_001, infra_deploy_preprod_001]
    runs-on: ubuntu-latest
    environment:
      name: Production_001
    env: 
      TF_VAR_apim_publisher_email: ${{ secrets.AZURE_APIM_PUBLISHER_EMAIL }}
      TF_VAR_apimao_metering_point_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_metering_point_domain_name: ${{ secrets.AZURE_APIMAO_METERING_POINT_DOMAIN_NAME }}
      TF_VAR_apimao_charges_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_charges_domain_name: ${{ secrets.AZURE_APIMAO_CHARGES_DOMAIN_NAME }}
      TF_VAR_apimao_market_roles_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_market_roles_domain_name: ${{ secrets.AZURE_APIMAO_MARKET_ROLES_DOMAIN_NAME }}
      TF_VAR_apimao_timeseries_domain_ingestion_function_url: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_INGESTION_FUNCTION_URL }}
      TF_VAR_apimao_timeseries_domain_name: ${{ secrets.AZURE_APIMAO_TIMESERIES_DOMAIN_NAME }}
    steps:
      - name: Terraform CD
        uses: Energinet-DataHub/.github/.github/actions/terraform-apply@renetnielsen/terraform-apply-1.4.0
        with:
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          SERVICE_NAME: ${{ secrets.SERVICE_NAME }}
          ENVIRONMENT_INSTANCE: "001"
          ENVIRONMENT_SHORT: p
          TERRAFORM_BACKEND_FILE_PATH: ${{ env.TERRAFORM_BACKEND_FILE_PATH }}
          TERRAFORM_WORKING_DIR_PATH: ${{ env.TERRAFORM_WORKING_DIR_PATH }}
          TERRAFORM_STATE_RG_NAME: ${{ secrets.AZURE_TF_STATE_RG_NAME }}
          TERRAFORM_VERSION: ${{ env.TERRAFORM_VERSION }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SPN_ID: ${{ secrets.AZURE_SPN_ID }}
          AZURE_SPN_OBJECT_ID: ${{ secrets.AZURE_SPN_OBJECT_ID }}
          AZURE_SPN_SECRET: ${{ secrets.AZURE_SPN_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RG_NAME: ${{ secrets.AZURE_RG_NAME }}
=======
  publish_release:
    uses: Energinet-DataHub/.github/.github/workflows/publish-release.yml@1.12.0
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

  dispatch_deployment_request:
    needs: publish_release
    uses: Energinet-DataHub/.github/.github/workflows/dispatch-deployment-request.yml@1.12.0
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
      ENVIRONMENT_REPOSITORY_PATH: ${{ secrets.ENVIRONMENT_REPOSITORY_PATH }}
      LOCAL_REPOSITORY_NAME: ${{ secrets.THIS_REPOSITORY_NAME }}
      LOCAL_REPOSITORY_PATH: ${{ secrets.THIS_REPOSITORY_PATH }}
>>>>>>> renetnielsen/new-sub
